#input, #input:focus {
    border-radius: 2px;
}

#input[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555; 
}

#input[placeholder]:empty:focus:before {
    content: "";
}

[contenteditable="true"]#input {
    white-space: nowrap;
    overflow: hidden;
} 

[contenteditable="true"]#input br {
    display:none;
}

[contenteditable="true"]#input * {
    display:inline;
    white-space:nowrap;
}